# Go
go/vendor/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# iOS
ios/Pods/
ios/.symlinks/

# Android
android/.gradle/
android/local.properties
*.apk
*.aab

# Secrets
*.env
*.key
*.pem
